body{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

header{
    background-color: hsl(217, 32%, 90%);
    color: black;
} 
footer{

    background-color: hwb(240 89% 7% / 0.945);
    color: black;
}