body{
    background-color: cornflowerblue;
    text-align: center;
}

header{
    background-color: cornflowerblue;
    color: rgba(116, 220, 255, 0.616);
} 
footer{

    background-color: cornflowerblue;
    color: rgba(116, 220, 255, 0.616);
}